[Unit]
Description={{ serviceName}}
Wants=network-online.target
After=network.target

[Service]
User={{ user }}
Group={{ group }}
Type=simple
ExecStart={{ command }}

[Install]
WantedBy=multi-user.target
